[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
scikit-image = "*"
tqdm = "*"
pytest = "*"
jupyterlab = "*"
pytest-cov = "*"

[packages]
torch = "*"
torchvision = "*"

[requires]
python_version = "3.7"
